<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitFit</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"    >
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap" rel="stylesheet">
</head>
<footer id="footer">
    <div class="copyright">@Copyright2023-GitFit</div>
    <div class="container-buttons-social-2">
        <div href="#" class="footer-iconos"><i class="fas fa-envelope" style="color: #27f00cec;"></i></div>
        <div href="#" class="footer-iconos"><i class="fab fa-facebook" style="color: #0033ff;"></i></div>
        <div href="#" class="footer-iconos"><i class="fab fa-twitter" style="color: #00ebe7;"></i></div>
        <div href="#" class="footer-iconos"><i class="fab fa-instagram" style="color: black"></i></div>
        <div href="#" class="footer-iconos"><i class="fab fa-pinterest" style="color: #ff4000;"></i></div>
    </div>
</footer>