<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitFit</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"    >
    <link rel="stylesheet" href="/css/styles-header.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap" rel="stylesheet">
</head>
<body> -->
    <header>
        <nav class="busqueda">
            <img class="logo" src="/images/logo.png" alt="logo">
            <div class="busqueda-texto">
                <input type="text" class="navegacion-texto" placeholder="Buscar productos">
                <i class="fas fa-search" id="lupa"></i>
            </div>
                <div class="menu-bars"><i class="fas fa-bars"></i></div>
        </nav>
        <nav class="login-nav">
            </div>
            <div class="login"><a href="http://localhost:5000/create"><i class="fas fa-user"></i>Crear producto</a></div>
            <div class="login"><a href="http://localhost:5000/registro"><i class="fas fa-user"></i>Registrate</a></div>
            <div class="login"><a href="http://localhost:5000/login"><i class="fas fa-sign-in-alt"></i>Iniciar sesion</a></div>
            <div class="shopp-cart"><a href="http://localhost:5000/carrito"><i class="fas fa-shopping-cart"></i>Tu carrito</a></div>
        </nav>
        <nav class="navegacion">
            <a href="/products" class="site">Todos los productos</a>
            <a href="/create" class="site">Vender</a>
            <a class="site">Snacks</a>
            <a class="site">Vitaminas</a>
            <a class="site">Nutrición</a>
        </nav>
    </header>