    <header>
        <nav class="busqueda">
            <a href="/" class="logo"><img id="logo" src="/images/logo3.png" alt="logo"></a>
            <div class="busqueda-texto">
                <input type="text" class="navegacion-texto" id="buscador" placeholder="Buscar productos">
                <button class="search" type="submit" name="enviar">
                    <i class="fas fa-search" id="lupa"></i>
                </button>
                
            </div>
                <div class="menu-bars"><i class="fas fa-bars"></i></div>
        </nav>
        <nav class="login-nav">

            <% if (!locals.isLogged) { %>
                <div class="login" id ="divRegister"><a href="/users/registro"><i class="fas fa-user"></i>Registrate</a></div>
                <div class="login" id ="divLogin"><a href="/users/login"><i class="fas fa-sign-in-alt"></i>Iniciar sesion</a></div>
            <% } if(locals.isLogged){ %>
            <div class="shopp-cart" class="usuario"><a class="usuario" href=<%=`/users/perfil/${locals.userLogged.id}`%> id="nombreUsuario"><img class="avatar" src=<%=`/images/users/${locals.userLogged.avatar}`%> alt="Img perfil usuario"><p class="name"><%=locals.userLogged.firstName%></p></a></div>
            <div class="shopp-cart" id="divCarrito"><a href=<%=`/products/carrito/${locals.userLogged.id}`%>><i class="fas fa-shopping-cart"></i>Tu carrito</a></div>
            <div class="logout"><i class="fas fa-sign-out-alt"></i><a class="logout" href="/users/logout">Cerrar Sesión</a></div>
            <%}%>
            
        </nav>
        <nav class="navegacion">
            <a href="/products/index" class="site">Todos los productos</a>
            <a href="/products/create" class="site">Vender</a>
            <a class="site">Snacks</a>
            <a class="site">Vitaminas</a>
            <a class="site">Nutrición</a>
        </nav>
    </header>