<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Tu Carrito de Compras</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>MYPROTEIN</h1>
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="search" id="" placeholder="Buscar...">
        </div>
        <div class="action">
            <div class="user">
                <i class="fa-regular fa-user demo"></i><p>Cuenta</p>
            </div>
            <div class="cart">
                <i class="fa-solid fa-cart-shopping demo"></i><p>Carrito</p>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li>Nutricion</li>
            <li>Ropa</li>
            <li>Barritas y Snacks</li>
            <li>Vegan</li>
            <li>Vitaminas</li>
        </ul>
    </nav>
    <main>
        <div class="title">
            <h2>Tu Carrito</h2>
            <div class="pagar">
                <button><i class="fa-solid fa-lock"></i>Realiza tu pago de forma segura</button>
            </div>
        </div>
        <div class="table">
            <div class="thead">
                <div class="th" style="width: 60%;">Descripcion</div>
                <div class="th" style="width: 15%;">Tamaño</div>
                <div class="th" style="width: 15%;">Precio</div>
                <div class="th" style="width: 10%;"></div>
            </div>
            <div class="tbody">
                <ul>
                    <li>
                        <div class="tr desc" style="width: 60%;">
                            <img src="https://static.thcdn.com//productimg/70/70/10530943-1224889444460882.jpg" alt="">
                            <p>Nombre Producto</p>
                        </div>
                        <div class="tr cant" style="width: 15%;">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                        <div class="tr" style="width: 15%;">$999,99</div>
                        <div class="tr" style="width: 10%;"><a href="#"><i class="fa-regular fa-circle-xmark"></i></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>