<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitFit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="busqueda">
            <img src="#" alt="logo">
            <div class="busqueda-texto"><nav class="navegacion-texto">Buscar productos, marcas<i class="fas fa-search" id="lupa"></i></nav></div>
        </nav>
        <nav class="navegacion"></nav>
    </header>

    <main>

    </main>

    <footer>
        
    </footer>
</body>
</html>