<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitFit</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles-home.css">
</head>
<body>
    <header>
        <nav class="busqueda">
            <img class="logo" src="/images/logo.png" alt="logo">
            <div class="busqueda-texto">
                <input type="text" class="navegacion-texto" placeholder="Buscar productos">
                <i class="fas fa-search" id="lupa"></i>
            </div>
            <div class="login"><i class="fas fa-user"></i>Registrate</div>
            <div class="shopp-cart"><i class="fas fa-shopping-cart"></i>Tu carrito</div>
        </nav>
        <nav class="navegacion"></nav>
    </header>

    <main>

    </main>

    <footer>
        
    </footer>
</body>
</html>