*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* END HEADER STYLES */

/* NAV STYLES */
nav ul{
    display: flex;
    height: 40px;
    align-items: center;
    background-color: #008190;
}

nav ul{
    padding-left: 30px;
}

nav ul li{
    list-style: none;
    height: 40px;
    line-height: 40px;
    /* margin: 0 10px; */
    padding: 0 15px;
    color: #fff;
    font-size: 18px;
}

nav ul li:hover{
    background-color: #07a5b6;
}
/* END NAV STYLES */

.title{
    /* background-color: azure; */
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}


.pagar button{
    margin-right: 20px;
    padding: 10px;
    background-color: #008190;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}

.pagar button i{
    margin-right: 10px;
    /* color: #000; */
}

.pagar button:hover{
    background-color: #07a5b6;
    box-shadow: 5px 5px #008190;
    
}

.pagar button:hover i{
    color: #000;
}

/* TABLE STYLES */

.table{
    width: 80%;
    margin: 0 auto;
    /* background-color: aqua; */
}

.thead{
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 18px;
    border-bottom: 2px solid #000;
}

.tbody ul li{
    display: flex;
    /* background-color: #008190; */
}

.tr{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.tr a i{
    font-size: 25px;
    color: #008190;
}

.desc img{
    margin-right: 15px;
}

.cant button{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}