body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url(/images/fondo1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    flex-direction: column;
    background-color: white;
}
h2{
    color: white;
}
.navegacion-texto{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    width: 80%;
}
#lupa{
    display: flex;
    align-self: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}
.busqueda{
    display: flex;
    align-items: center;
    width: 100%;
}
.logo{
    width: 10%;
    height: auto;
}
.busqueda-texto{
    display: flex;
    width: 60%;
    justify-content: center;
}
.login{
    width: 12%;
}
.shopp-cart{
    width: 12%;
}
.navegacion{
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: aqua;
}
.site{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.descripcion-container{
    color: white;
}
footer{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.container-buttons-social-2{
    padding: 20px;
    display: flex;
	gap: 15px;
	align-items: center;
    justify-content: end;
    position: relative;
}
.footer-iconos{
    width: 20px;
}
.copyright{
    display: flex;
    align-self: center;
}