* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    background-color: #8080808f;
    flex-wrap: wrap;
    width: 100%;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h2{
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.329);
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
}
.navegacion-texto{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    width: 80%;
}
#lupa{
    display: flex;
    align-self: center;
}
.search{
    padding: 5px;
    border-radius: 5px;
}
.avatar{
    height: 90px;
    border-radius: 5px;
}
.usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name{
    display: flex;
    align-self: center;
    width: fit-content;
    font-weight: bold;
}
.logout{
    color: red;
}
.busqueda{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.login-nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 20%;
    padding: 5px;
}

#logo{
    max-width:100%
}

.busqueda-texto{
    display: flex;
    width: 60%;
    justify-content: center;
}
.menu-bars{
    font-size: 2em;
}
.login,.shopp-cart{
    width: 30%;
    padding: 10px 0px;
    text-align: center;
}
.errorsInput{
    display: block;
    color: rgb(196, 44, 33);
    background-color: rgb(250, 232, 230);
    border-radius: 4px;
    border: 1px solid red;
    padding: 8px 0px 8px 10px;
}

.errors{
    display: block;
    color: rgb(196, 44, 33);
    background-color: rgb(250, 232, 230);
    border-radius: 4px;
    border: 1px solid rgb(250, 232, 230);
    padding: 8px 0px 8px 10px;
    margin: 10px 0;
}

.frontError{
    display: none;
}

.avatar{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.navegacion{
    display: none;
    width: 100%;
    background-color: #00ccffc9 ;
}
.site{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-right: 1px gray solid;
    padding: 10px;
}
@media (min-width: 430px){
    .navegacion{
        display: flex;
    }
    .menu-bars{
        display: none;
    }
}
@media (min-width: 768px){
    .busqueda,.login-nav{
        width: 50%;
    }
}
#footer{
    background-color:  #8080808f;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container-buttons-social-2{
    padding: 20px;
    display: flex;
    width: 50%;
	gap: 15px;
	align-items: center;
    justify-content: end;
    position: relative;
}